#PersonalToolbar {
    background-color: var(--moonlight-gray-2) !important;
    padding: 3px 0 !important;
}
#PersonalToolbar toolbarbutton.bookmark-item {
    padding: 6px !important;
    margin-right: 4px !important;
    background-color: var(--moonlight-gray-4); 
    border: 1px solid var(--moonlight-gray-1) !important;
    color: var(--moonlight-gray-10) !important;
    transition: background-color, border-color 300ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;
    border-radius: 3px !important;
}
#PersonalToolbar toolbarbutton.bookmark-item:hover,
#PersonalToolbar toolbarbutton.bookmark-item[open=true]
{
    background: var(--moonlight-gray-5) !important;
    border-color: var(--moonlight-blue) !important;
}
