findbar {
    border-color: var(--moonlight-gray-1) !important;
}
findbar .findbar-container {
    background-color: var(--moonlight-gray-2) !important;
    color: var(--moonlight-gray-7) !important;
}
findbar .findbar-closebutton {
    background-color: var(--moonlight-gray-2) !important;
}
findbar .findbar-closebutton .toolbarbutton-icon {
    fill: var(--moonlight-gray-7) !important;
    transition: fill 300ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}
findbar .findbar-closebutton:hover .toolbarbutton-icon {
    fill: var(--moonlight-gray-9) !important;
    fill-opacity: 0 !important;
}
findbar .findbar-button {
    border: 1px solid var(--moonlight-gray-1) !important;
    background-color: var(--moonlight-gray-4) !important;
    color: var(--moonlight-gray-10) !important;
    border-radius: 3px !important;
    transition: background-color, border-color 300ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}
findbar .findbar-button:hover
{
    background: var(--moonlight-gray-5) !important;
    border: 1px solid var(--moonlight-blue) !important;
}

findbar .findbar-button[checked="true"] {
    background: var(--moonlight-gray-5) !important;
    color: var(--moonlight-blue) !important;
    border: 1px solid var(--moonlight-blue) !important;
}

findbar .findbar-textbox {
    background-color: var(--moonlight-gray-4) !important;
    border: 1px solid var(--moonlight-gray-1) !important;
    color: var(--moonlight-gray-10) !important;
    border-radius: 3px !important;
    transition: background-color, border-color 300ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}

findbar .findbar-textbox:focus {
    border-color: var(--moonlight-blue) !important;
    background-color: var(--moonlight-gray-3) !important;
}
findbar .findbar-find-previous,
findbar .findbar-find-next{
    background-color: var(--moonlight-gray-2) !important;
    border: none !important;
}

findbar .findbar-find-previous .toolbarbutton-icon,
findbar .findbar-find-next .toolbarbutton-icon {
    fill: var(--moonlight-gray-7) !important;
    transition: fill 300ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}

findbar .findbar-find-previous .toolbarbutton-icon[disabled="true"],
findbar .findbar-find-next .toolbarbutton-icon[disabled="true"] {
    fill: var(--moonlight-gray-5) !important;
    opacity: 1 !important;
}

findbar .findbar-find-previous:not([disabled="true"]):hover .toolbarbutton-icon,
findbar .findbar-find-next:not([disabled="true"]):hover .toolbarbutton-icon {
    fill: var(--moonlight-gray-9) !important;
}


