/* - Navigation bar - */
#nav-bar {
    background-color: var(--moonlight-gray-2) !important;
    box-shadow: none !important;
}
/* Icons */
/* Toolbar buttons */
.toolbarbutton-1 {
    fill: var(--moonlight-gray-7) !important;
    transition: fill 300ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}

.toolbarbutton-1:hover {
    fill: var(--moonlight-gray-9) !important;
}

.toolbarbutton-1[disabled] {
    fill: var(--moonlight-gray-5) !important;
}

.toolbarbutton-1[open="true"] .toolbarbutton-icon,
.toolbarbutton-1[open="true"] .toolbarbutton-badge-stack {
    background: none !important;
}

/* Remove back button background and border */

#back-button > .toolbarbutton-icon {
    background: none !important;
    border: none !important;
}

/* Diable hover background */

.toolbarbutton-1:hover .toolbarbutton-icon,
.toolbarbutton-1:hover .toolbarbutton-badge-stack {
    background: none !important;
}

/* Add hover for web extensions */

.toolbarbutton-1.webextension-browser-action .toolbarbutton-badge-stack,
#fxa-toolbar-menu-button .toolbarbutton-badge-stack {
    background: var(--moonlight-gray-4) !important;
    border: 1px solid var(--moonlight-gray-1);
}

.toolbarbutton-1.webextension-browser-action:hover .toolbarbutton-badge-stack,
#fxa-toolbar-menu-button:hover .toolbarbutton-badge-stack {
    background: var(--moonlight-gray-5) !important;
    border-color: var(--moonlight-blue);
    transition: background-color, border-color 300ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}

.toolbarbutton-1.webextension-browser-action[open="true"]
    .toolbarbutton-badge-stack,
#fxa-toolbar-menu-button[open="true"] .toolbarbutton-badge-stack {
    background: var(--moonlight-blue) !important;
}

/* Remove burger menu border */
#PanelUI-button {
    margin-inline-start: 0 !important;
    padding-inline-start: 0 !important;
    border: none !important;
    border-inline-start: none !important;
}
/* --- */

/* - Url bar - */
#urlbar-input {
    color: var(--moonlight-gray-10) !important;
}
#urlbar #urlbar-background {
    background-color: var(--moonlight-gray-3) !important;
    border: none !important;
    border-radius: 3px;
    box-shadow: none !important;
}
#urlbar[open="true"] #urlbar-background {
    background-color: var(--moonlight-gray-4) !important;
}
.urlbarView:not(.megabar) .urlbarView-row:not([type="tip"]):hover,
.urlbarView.megabar .urlbarView-row:not([type="tip"]):hover > .urlbarView-row-inner {
    background: none !important;
}
.urlbarView #urlbar-results .urlbarView-row .urlbarView-row-inner {
    transition: color 300ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}
.urlbarView #urlbar-results .urlbarView-row .urlbarView-row-inner:hover {
    background-color: var(--moonlight-gray-5) !important;
    color: var(--moonlight-blue) !important;
}
.urlbarView
    #urlbar-results
    .urlbarView-row[aria-selected="true"]
    .urlbarView-row-inner {
    border: 1px solid var(--moonlight-blue) !important;
    background-color: var(--moonlight-gray-5) !important;
    color: var(--moonlight-blue) !important;
}
.urlbarView.megabar .urlbarView-body-inner {
    border: 0 !important;
}
.urlbarView #urlbar-results {
    color: var(--moonlight-gray-10) !important;
}
.urlbarView #urlbar-results .urlbarView-row .urlbarView-url {
    color: var(--moonlight-blue) !important;
}

/* Icons */

#tracking-protection-icon-container,
#identity-icon,
#pageActionButton,
#reader-mode-button,
#blocked-permissions-container {
    border: 0 !important;
    fill: var(--moonlight-gray-7) !important;
    fill-opacity: 1 !important;
    transition: fill 300ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}

#tracking-protection-icon-container:hover,
#identity-box:hover,
#identity-box:hover *,
#pageActionButton:hover,
#reader-mode-button:hover,
#blocked-permissions-container:hover {
    fill: var(--moonlight-gray-9) !important;
    background: none !important;
    fill-opacity: 1 !important;
}
#tracking-protection-icon-container[open="true"],
#identity-box[open="true"],
#pageActionButton[open="true"] {
    background: none !important;
}

#pageActionSeparator {
    display: none !important;
}

/* --- */
