#sidebar-search-container,
#bookmarks-view,
#historyTree,
[lwt-sidebar] {
  background-color: var(--moonlight-gray-2) !important;
  color: var(--moonlight-gray-10) !important;
}


#sidebar-splitter {
  border-color: var(--moonlight-gray-1) !important;
}
#sidebar-box {
  background-color: var(--moonlight-gray-2) !important;
  color: var(--moonlight-gray-10) !important;
}
#sidebar-box #sidebar-header {
  border: none !important;
}
#sidebar-box #sidebar-header #sidebar-switcher-target {
  transition: color 300ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}
#sidebar-box #sidebar-header #sidebar-switcher-target:hover,
#sidebar-box #sidebar-header #sidebar-switcher-target.active {
  color: var(--moonlight-blue) !important;
}
#sidebar-box #sidebar-header #sidebar-close {
  fill-opacity: 0 !important;
  color: var(--moonlight-gray-7) !important;
  transition: color 300ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}
#sidebar-box #sidebar-header #sidebar-close:hover {
  fill-opacity: 0 !important;
  color: var(--moonlight-gray-10) !important;
}

#sidebar-header {
/*   border: none !important; */
  border-color: var(--moonlight-gray-1) !important;
}


#sidebar-search-container #search-box {
  -moz-appearance: none !important;
  background-color: var(--moonlight-gray-4) !important;
  border: 1px solid var(--moonlight-gray-1) !important;
  color: var(--moonlight-gray-10) !important;
  border-radius: 3px !important;
  transition: background-color, border-color 300ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}
#sidebar-search-container #search-box:focus-within {
  border-color: var(--moonlight-blue) !important;
  background-color: var(--moonlight-gray-3) !important;
}
#sidebar-search-container #search-box .textbox-search-clear {
  filter: invert(16%) sepia(23%) saturate(1040%) hue-rotate(193deg) brightness(94%) contrast(86%);
}
#sidebar-search-container #viewButton {
  background-color: var(--moonlight-gray-4) !important;
  border: 1px solid var(--moonlight-gray-1);
  border-radius: 3px !important;
  color: var(--moonlight-gray-10);
  transition: background-color, border-color 300ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}
#sidebar-search-container #viewButton:hover {
  background-color: var(--moonlight-gray-5) !important; 
  border-color: var(--moonlight-blue) !important;
  color: var(--moonlight-blue) !important;
}


treechildren::-moz-tree-separator{
-moz-appearance: none !important;
border: none !important;
border-bottom: solid 1px var(--moonlight-gray-1) !important;
background: transparent !important;
min-height: 0px !important;
max-height: 0px !important;
}
