@import '_variables.css';
@import '_global.css';
@import '_tab-bar.css';
@import '_navigation-bar.css';
@import '_bookmarks-bar.css';
@import '_find-bar.css';
@import '_side-bar.css';

/* Additional features */

/* @import 'custom/_megabar-disable.css'; */
/* @import 'custom/_titlebar-controls-enable.css'; */